{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>

  <body>
    
    <script src = "{% static 'js/jquery.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}

    <div id="user_token_modal" class="modal fade" style="  float:left; left:50%; top:50%; transform:translate(-50%, -50%);" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">IMW User Login</h4>
          </div>
          <form id="user_token_form" action="/dashboard/" method="post">
          {% csrf_token %}

            <div class="modal-body">
              <div class="form-group">
                <label for="user_token_username">Username</label>
                <input type="text" class="form-control" placeholder="Username" id="user_token_username" name="user_token_username">

                <label for="user_token_password">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="user_token_password" name="user_token_password">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" style="float: left" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" style="float: right">Login</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
      
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-logo" href="/"><img src="{% static 'images/motorola_solutions.png' %}" height="25"></a>
          <a class="navbar-brand">Firestorm</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if user_token %}
                <li><p style="font-weight:bold; font-size:18px; margin-left:10px; margin-right:10px; color:#7b8a8b;">   {{ username }}   </p></li>
                <li class="divider"></li>
                {% endif %}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/group_management">Group Management</a></li>
                <li><a href="/configuration">Configuration</a></li>
                <li class="divider"></li>
                {% if user_token %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a id="user_token_login">Login</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <script>
      $('#user_token_login').click(function(event) {
        $('#user_token_modal').modal('show');
      });
    </script>

    {% block content %}
    {% endblock %}

  </body>

</html>
