{% extends 'base.html' %}

{% block content %}
<title>Firestorm Configuration</title>

<!-- display error message if there was a problem with the configuration settings -->
{% if error %}
<div class="alert alert-dismissible alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4 class="alert-heading">Oops!</h4>
	<p class="mb-0">Looks like we were unable to generate an IMW Application Token using the given settings. Please double check the configuration settings or contact your administrator.</p>
</div>
{% endif %}

<!-- confirmation modal for reset button -->
<div id="confirmation_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>The settings will be reverted to the last known good settings.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="float: left" data-dismiss="modal">Cancel</button>
        <button type="reset" class="btn btn-primary" style="float: right" data-dismiss="modal" id="reset">Reset</button>
      </div>
    </div>
  </div>
</div>

<!-- configuration settings form -->
<div class="container" style="margin-top: 20px">
<div class="row">
<div class="jumbotron">
	<h1>Configuration Settings</h1>
	<hr class="my-4">

	<form id="configuration_form" action="/configuration/" method="post">
  {% csrf_token %}

		<h3>Google Maps API</h3>
		<div class="form-group">

			<label class="col-form-label" for="google_maps_api_key">API Key</label>
			<input type="text" class="form-control" value="{{ google_maps_api_key }}" id="google_maps_api_key" name="google_maps_api_key">
		
		</div>

		<h3>IMW URI Settings</h3>
		<div class="form-group">

      <label class="col-form-label" for="uri_settings_host">Host</label>
      <input type="text" class="form-control" value="{{ uri_settings_host }}" id="uri_settings_host" name="uri_settings_host">

			<label class="col-form-label" for="uri_settings_developer_id">Developer ID</label>
			<input type="text" class="form-control" value="{{ uri_settings_developer_id }}" id="uri_settings_developer_id" name="uri_settings_developer_id">

			<label class="col-form-label" for="uri_settings_license_key">License Key</label>
			<input type="text" class="form-control" value="{{ uri_settings_license_key }}" id="uri_settings_license_key" name="uri_settings_license_key">

			<label class="col-form-label" for="uri_settings_agency_domain">Agency Domain</label>
			<input type="text" class="form-control" value="{{ uri_settings_agency_domain }}" id="uri_settings_agency_domain" name="uri_settings_agency_domain">

		</div>


		<h3>IMW Identity Service</h3>
		<div class="form-group">

			<label class="col-form-label" for="identity_service_host">Host</label>
			<input type="text" class="form-control" value="{{ identity_service_host }}" id="identity_service_host" name="identity_service_host">

      <label class="col-form-label" for="identity_service_application_username">Application Username</label>
      <input type="text" class="form-control" value="{{ identity_service_application_username }}" id="identity_service_application_username" name="identity_service_application_username">

			<label class="col-form-label" for="identity_service_application_password">Application Password</label>
			<input type="text" class="form-control" value="{{ identity_service_application_password }}" id="identity_service_application_password" name="identity_service_application_password">

		</div>

		<div>
			<button type="button" class="btn btn-danger" style="float: left" data-toggle="modal" data-target="#confirmation_modal">Reset</button>
			<button type="submit" class="btn btn-primary" style="float: right">Save</button>
		</div>
		<br>
	
	</form>

</div>
</div>
</div>

<script>
  // reset to last knwon good values
  $('.modal').on('hidden.bs.modal', function(){
    $('#google_maps_api_key').val('{{ google_maps_api_key_rst }}')
    $('#uri_settings_host').val('{{ uri_settings_host_rst }}')
    $('#uri_settings_developer_id').val('{{ uri_settings_developer_id_rst }}')
    $('#uri_settings_license_key').val('{{ uri_settings_license_key_rst }}')
    $('#uri_settings_agency_domain').val('{{ uri_settings_agency_domain_rst }}')
    $('#identity_service_host').val('{{ identity_service_host_rst }}')
    $('#identity_service_application_username').val('{{ identity_service_application_username_rst }}')
    $('#identity_service_application_password').val('{{ identity_service_application_password_rst }}')
  });
</script>

{% endblock %}