{% extends 'base.html' %}
{% load staticfiles %}
{% load templatetags %}

{% block content %}

<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/sidebar.min.css' %}" rel="stylesheet">

<!-- imw token status -->
{% if application_token and user_token %}
<div class="alert alert-dismissible alert-success" style="position:absolute; z-index:1; width:100%">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Token Status</h4>
  <p class="mb-0">Successfully generated Application Token</p>
  <p class="mb-0">Successfully generated User Token</p>
</div>
{% elif application_token %}
<div class="alert alert-dismissible alert-info" style="position:absolute; z-index:1; width:100%">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Token Status</h4>
  <p class="mb-0">Successfully generated Application Token</p>
  <p class="mb-0">Unsuccessfully generated User Token</p>
</div>
{% elif application_token %}
<div class="alert alert-dismissible alert-warning" style="position:absolute; z-index:1; width:100%">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Token Status</h4>
  <p class="mb-0">Unsuccessfully generated Application Token</p>
  <p class="mb-0">Successfully generated User Token</p>
</div>
{% else %}
<div class="alert alert-dismissible alert-danger" style="position:absolute; z-index:1; width:100%">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Token Status</h4>
  <p class="mb-0">Unsuccessfully generated Application Token</p>
  <p class="mb-0">Unsuccessfully generated User Token</p>
</div>
{% endif %}

<!-- approval modal if the user needs to review permissions -->
<div id="approval_modal" class="modal fade" style="  float:left; left:50%; top:50%; transform:translate(-50%, -50%);" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Request for Approval Needed.</h4>
      </div>
      <div class="modal-body">
        <p>Please try logging in again using the same credentials.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="float: left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" style="float: right" data-dismiss="modal" onclick="window.location.href = '{{ approval_url }}';">Login</button>
      </div>
    </div>
  </div>
</div>

<!-- confirmation modal if there is no location data for a device -->
<div id="error_modal" class="modal fade" style="  float:left; left:50%; top:50%; transform:translate(-50%, -50%);" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Oops!</h4>
      </div>
      <div class="modal-body">
        <p>There is currently no location data for this device.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="float: right" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- messaging interface -->
<div id="messaging_modal" class="modal fade" style="  float:left; left:50%; top:50%; transform:translate(-50%, -50%);" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="messaging_modal_title"></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p class="hide" id="receiver_id"></p>
          <label for="message">Message:</label>
          <textarea class="form-control" style="resize:none" rows="3" id="message_body" placeholder="Text Message"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="float: left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" style="float: right" data-dismiss="modal" id="message_btn">Message</button>
      </div>
    </div>
  </div>
</div>

<!-- message successfully sent modal -->
<div id="success_modal" class="modal fade" style="  float:left; left:50%; top:50%; transform:translate(-50%, -50%);" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Success!</h4>
      </div>
      <div class="modal-body">
        <p>The message was successfully sent.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="float: right" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<title>Firestorm Dashboard</title>

<!-- icon sidebar -->
<div class="icon-bar">
  <div style="margin-top: 30vh">
    <a onclick="openNav(1)" id="symbolUsers" data-toggle="tooltip" title="Groups"><i class="fa fa-users"></i></a> 
    <a onclick="openNav(2)" id="symbolComments" data-toggle="tooltip" title="Messaging"><i class="fa fa-comments"></i></a> 
    <a onclick="openNav(3)" id="symbolTablet" data-toggle="tooltip" title="Devices"><i class="fa fa-tablet"></i></a> 
    <a onclick="openNav(4)" id="symbolExclamation" data-toggle="tooltip" title="Distressed Devices"><i class="fa fa-exclamation"></i></a>
  </div>
</div>

<!-- groups popout sidebar -->
<div id="sidenavUsers" class="sidenav" style="z-index:0">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <legend style="text-align: center">Groups</legend>
  <input type="text" class="form-control" placeholder="Search Groups" id="search-groups">
  <a class="list-group-item list-group-item-action" id="select-all" style="font-weight: bold">Select/Deselect All</a>
  <div class="list-group" id="groups-div"></div>
</div>

<!-- users popout sidebar -->
<div id="sidenavComments" class="sidenav" style="z-index:0">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <legend style="text-align: center">Messaging</legend>
  <input type="text" class="form-control" placeholder="Search Users" id="search-users">
  <div class="list-group" id="users-div"></div>
</div>

<!-- devices popout sidebar -->
<div id="sidenavTablet" class="sidenav" style="z-index:0">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <legend style="text-align: center">Devices</legend>
  <input type="text" class="form-control" placeholder="Search Devices" id="search-devices">
  <div class="list-group" id="devices-div"></div>
</div>

<!-- distressed device popout sidebar -->
<div id="sidenavExclamation" class="sidenav" style="z-index:0">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <legend style="text-align: center">Distressed Devices</legend>
  <input type="text" class="form-control" placeholder="Search Devices" id="search-distressed-devices">
  <div class="list-group" id="distressed-devices-div"></div>
</div>

<!-- google maps map -->
<div id="map" style="height: calc(100vh - 4em)"></div>

<script>
  // GLOBAL VARIABLES
  // google maps map
  var map;
  // contains an array of markers
  var markers_array = [];
  // marker cluster
  var markerCluster;
  // overlapping marker spiderfier
  var oms;
  // infowindow status (open or closed)
  var openInfoWindow;
  // IMW application token
  var application_token = "{{ application_token }}";
  console.log("IMW Application Token");
  console.log(application_token);
  // IMW user token
  var user_token = "{{ user_token }}";
  console.log("IMW User Token");
  console.log(user_token);
  // IMW Identity Service Application Username
  var client_id = "{{ client_id }}";
  // IMW Identity Service Application Password
  var client_secret = "{{ client_secret }}";
  // IMW Identity Service Scopes
  var scope = "msi_unsapi_telemetry.watch msi_unsapi_groupmgt.read msi_unsapi_groupmgt.write msi_unsapi_presence.watch msi_unsapi_location.watch msi_unsapi_messaging"
  // IMW Identity Service Host
  var idm_host = "{{ idm_host }}"
  // IMW URI Settings Agency Domain
  var agency_domain = "{{ agency_domain }}";
  // IMW API Key
  var api_key = "{{ api_key }}";
  // IMW URI Settings Host
  var host = "{{ host }}";
  // array of open websockets
  var websockets = [];
  //cors-anywhere proxy url
  var proxy = "https://glacial-atoll-53054.herokuapp.com/";
  // google maps coloured markers
  var red_marker = "{% static 'images/red_marker.png' %}";
  var green_marker = "{% static 'images/green_marker.png' %}";
  var grey_marker = "{% static 'images/grey_marker.png' %}";
  // if approval is needed when trying to generate an IMW user token
  var approval_needed = {{ approval_needed|yesno:"true,false" }};

  // initialise google maps map
  function initMap() {
    // intitialise map
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 4,
      mapTypeId: 'satellite',
      disableDefaultUI: true
    });

    // intitialise marker cluster
    markerCluster = new MarkerClusterer(map, markers_array, {
      imagePath: "{% static 'images/m'%}",
      maxZoom: 15,
    });

    // initialise overlapping marker spiderfier
    oms = new OverlappingMarkerSpiderfier(map, {
      keepSpiderfied: true,
    });
  };

  $(window).resize(function() {
    google.maps.event.trigger(map, "resize");
  });
</script>

<script src = "{% static 'js/sidebar.min.js' %}" async defer></script>
<script src = "{% static 'js/websocket.min.js' %}" async defer></script>
<script src= "{% static 'js/markerclusterer.min.js' %}" async defer></script>
<script src= "https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
<script src= "{% static 'js/oms.min.js' %}"></script>
{% endblock %}