{% extends 'base.html' %}

{% block content %}
<title>Firestorm Group Management</title>

<!-- display error messages if any -->
{% if status %}
  {% if status == 'unknown' %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Oops!</h4>
    <p class="mb-0">Something went wrong.</p>
  </div>
  {% elif status == 'application_token_false' %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Oops!</h4>
    <p class="mb-0">Looks like you don't have an application token. Please check the configuration settings.</p>
  </div>
  {% else %}
    {% if status|add:"0" < 300 %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Success!</h4>
    <p class="mb-0">Your request was successfully completed.</p>
  </div>
    {% else %}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Oops!</h4>
        <p class="mb-0">We couldn't complete your request. The server responded with status code {{ status }}.</p>
      </div>
    {% endif %}
  {% endif %}
{% endif %}

<!-- group management form -->
<div class="container" style="margin-top: 20px">
<div class="row">
<div class="jumbotron">
	<h1>Group Management</h1>
	<hr class="my-4">

  <!-- create group and add users and devices -->
	<form id="create_group_form" action="/group_management/?type=create_group" method="post">
  {% csrf_token %}
    
    <h3>Create Group</h3>
    <div class="form-group">
      <label class="col-form-label" for="group_create">Group Name</label>
      <input type="text" class="form-control" placeholder="mytestgroup" name="group_create" id="group_create"><br />

      <label class="col-form-label" for="members[]">User Name or Device Name</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="uToddLeigh" name="members[]" id="members[]">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default addButton">&plus;</button>
        </span>
      </div>
    </div>

    <div class="form-group hide" id="add_member_field">    
      <div class="input-group">
        <input type="text" class="form-control" placeholder="uToddLeigh" name="members[]">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default removeButton">&times;</button>
        </span>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
    </div>
  </form>

  <br /><br /><hr class="my-4">
  
  <!-- delete group -->
  <form id="delete_group_form" action="/group_management/?type=delete_group" method="post">
  {% csrf_token %}
    <h3>Delete Group</h3>
    <div class="form-group">
      <label class="col-form-label" for="group_delete">Group Name</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-toggle="dropdown">&#9662;</button>
          <ul class="dropdown-menu group_dropdown" id="group_delete_dropdown" style="max-height:200px; overflow-y:scroll;"></ul>
        </span>
        <input type="text" class="form-control" placeholder="mytestgroup" name="group_delete" id="group_delete">
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
    </div>
  </form>

  <br /><br /><hr class="my-4">

  <!-- change group displayname -->
  <form id="displayname_form" action="/group_management/?type=display_name" method="post">
  {% csrf_token %}
    <h3>Change Group Display Name</h3>
    <div class="form-group">
      <label class="col-form-label" for="group_display_name">Group Name</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-toggle="dropdown">&#9662;</button>
          <ul class="dropdown-menu group_dropdown" id="group_display_name_dropdown" style="max-height:200px; overflow-y:scroll;"></ul>
        </span>
        <input type="text" class="form-control" placeholder="mytestgroup" name="group_display_name" id="group_display_name">
      </div>

      <label class="col-form-label" for="display_name">Display Name</label>
      <input type="text" class="form-control" placeholder="Test Group Display Name" name="display_name" id="display_name">
    </div>
   
    <div>
      <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
    </div>
  </form>

  <br /><br /><hr class="my-4">

  <!-- change group subject -->
  <form id="subject_form" action="/group_management/?type=subject" method="post">
  {% csrf_token %}
    <h3>Change Group Subject</h3>
    <div class="form-group">
      <label class="col-form-label" for="subject_group">Group Name</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-toggle="dropdown">&#9662;</button>
          <ul class="dropdown-menu group_dropdown" id="subject_group_dropdown" style="max-height:200px; overflow-y:scroll;"></ul>
        </span>
        <input type="text" class="form-control" placeholder="mytestgroup" name="subject_group" id="subject_group">
      </div>

      <label class="col-form-label" for="subject">Subject</label>
      <input type="text" class="form-control" placeholder="Test Group Subject" name="subject" id="subject">
    </div>
    
    <div>
      <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
    </div>
  </form>

  <br /><br /><hr class="my-4">

  <!-- add member and/or device to group -->
  <form id="add_member_form" action="/group_management/?type=add_member" method="post">
  {% csrf_token %}
    <h3>Add Member</h3>
    <div class="form-group">
      <label class="col-form-label" for="member_add_group">Group Name</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-toggle="dropdown">&#9662;</button>
          <ul class="dropdown-menu group_dropdown" id="member_add_group_dropdown" style="max-height:200px; overflow-y:scroll;"></ul>
        </span>
        <input type="text" class="form-control" placeholder="mytestgroup" name="member_add_group" id="member_add_group">
      </div>

      <label class="col-form-label" for="member_add">User Name or Device Name</label>
      <input type="text" class="form-control" placeholder="dToddLeigh" name="member_add" id="member_add">
    </div>

    <div>
      <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
    </div>
  </form>

  <br /><br /><hr class="my-4">

  <!-- delete member and/or device from group  -->
  <form id="delete_member_form" action="/group_management/?type=delete_member" method="post">
  {% csrf_token %}
    <h3>Delete Member</h3>
    <div class="form-group">
      <label class="col-form-label" for="member_delete_group">Group Name</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-toggle="dropdown">&#9662;</button>
          <ul class="dropdown-menu group_dropdown" id="member_delete_group_dropdown" style="max-height:200px; overflow-y:scroll;"></ul>
        </span>
        <input type="text" class="form-control" placeholder="mytestgroup" name="member_delete_group" id="member_delete_group">
      </div>

      <label class="col-form-label" for="member_delete">User Name or Device Name</label>

      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-toggle="dropdown">&#9662;</button>
          <ul class="dropdown-menu" id="member_delete_dropdown" style="max-height:200px; overflow-y:scroll;"></ul>
        </span>
        <input type="text" class="form-control" placeholder="dToddLeigh" name="member_delete" id="member_delete">
      </div>
    </div>
    
    <div>
      <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
    </div>
  </form>

  <br /><br />

</div>
</div>
</div>

<script>
// IMW application token
console.log("IMW Application Token");
console.log("{{ application_token }}");
//cors-anywhere proxy url
var proxy = "https://glacial-atoll-53054.herokuapp.com/";

function fill_input_group(dropdown_id, input_id, device_dropdown_id, device_input_id) {
  $("#"+dropdown_id+" li").each(function() {
    $(this).click(function(event) {
      $("#"+input_id).val($(this).text());

      if(device_dropdown_id) {
        console.log($(this).attr("id"));
        var group = $(this).attr("id");

        var link_token = "https://{{ idm_host }}:9031/as/token.oauth2";
        
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", proxy+link_token, true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            response = JSON.parse(this.responseText);
            new_application_token = response.access_token;

            // get presence data
            var link_presence = "https://{{ host }}:65000/unsapi/presence/1/{{ agency_domain }}/"+group+"?apiKey={{ api_key }}&access_token="+new_application_token;

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                  presence_data = JSON.parse(this.responseText);
                  console.log("Presence Data");
                  console.log(presence_data.presenceList.presenceContact);

                  $("#"+device_dropdown_id).empty();

                  for (var i=0; i<presence_data.presenceList.presenceContact.length; i++) {
                    var presentityUserId = presence_data.presenceList.presenceContact[i].presentityUserId;
                    presentityUserId_short = presentityUserId.substring(presentityUserId.indexOf(':')+1,presentityUserId.indexOf('@'));

                    $("<li id="+presentityUserId+"><a>"+presentityUserId_short+"</a></li>").appendTo($("#"+device_dropdown_id));
                  }

                  fill_input_group(device_dropdown_id, device_input_id);
                }
              };

              xhttp.open("GET", proxy+link_presence, true);
              xhttp.send();
            }
          };

          xhttp.send("client_id={{ client_id }}&client_secret={{ client_secret }}&state=1234&grant_type=client_credentials&scope=msi_unsapi_telemetry.watch msi_unsapi_groupmgt.read msi_unsapi_groupmgt.write msi_unsapi_presence.watch msi_unsapi_location.watch msi_unsapi_messaging");
      }
    });
  });
}

$(document).ready(function() {
  $('#create_group_form')
    // Add button click handler
    .on('click', '.addButton', function() {
      var $template = $('#add_member_field'),
      $clone = $template
      .clone()
      .removeClass('hide')
      .removeAttr('id')
      .insertBefore($template),
      $option = $clone.find('[name="members[]"]');
    })

    // Remove button click handler
    .on('click', '.removeButton', function() {
      var $row = $(this).parents('.form-group'),
      $option = $row.find('[name="members[]"]');

      // Remove element containing the option
      $row.remove();
    });

    // get all groups
    var link_groups = "https://{{ host }}:65000/unsapi/groupmgt/1/{{ agency_domain }}/app:{{ client_id }}/groups?apiKey={{ api_key }}&access_token={{ application_token }}";
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        groups_data = JSON.parse(this.responseText);

        console.log("Groups Data");
        console.log(groups_data.groupList.groupDescriptions);

        for (var i=0; i<groups_data.groupList.groupDescriptions.length; i++) {
          var id = groups_data.groupList.groupDescriptions[i].groupId;
          id_short = id.substring(id.indexOf(':')+1,id.indexOf('@'));

          $("<li id="+id+"><a>"+id_short+"</a></li>").appendTo($(".group_dropdown"));
        }
        $("#member_delete_dropdown").empty();
        
        fill_input_group("group_delete_dropdown", "group_delete");
        fill_input_group("group_display_name_dropdown", "group_display_name");
        fill_input_group("subject_group_dropdown", "subject_group");
        fill_input_group("member_add_group_dropdown", "member_add_group");
        fill_input_group("member_delete_group_dropdown", "member_delete_group", "member_delete_dropdown", "member_delete");
      }
    };

    xhttp.open("GET", proxy+link_groups, true);
    xhttp.send();
});
</script>

{% endblock %}