/*
symbol sidebar styles
*/
.icon-bar {
    height: calc(100vh - 4em);
    width: 65px;
    background-color: #ffffff;
    float: left;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #005daa;
    font-size: 26px;
}

.icon-bar a:hover {
    background-color: #ecf0f1;
}

.active {
    background-color: #ecf0f1; !important;
}

/*
popout sidebar styles
*/
.sidenav {
  margin-top: 4em;
  height: calc(100vh - 4em);
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  float: left;
  background-color: #ecf0f1;
  overflow-x: hidden;
  padding-top: 10px;
  margin-left: 65px;
}

.sidenav .closebtn:hover {
  color: #005daa;
}

.sidenav .closebtn {
  position: absolute;
  top: -4px;
  right: 14px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #232323;
  display: block;
}